<style>.Profile-Head {
width: 1023px; 
height: 247px; 
 }
 .img1 {
width: 241px; 
height: 243px; 
opacity: 100; 
 }
 ul{
     float: right;
 }
 .profileData{
   display : table;
}

.line:after {
    content:"";
    position: absolute;
    top:20px;
    bottom:0;
    width: 3px; 
height: 121px; 
    border: solid 1px #3B5372; 
}


.first {
    display : table-cell;
    width :30%;

}

.second{
    display : table-cell;
   width :30%;
    padding-left : 10px;
}
 </style>
<div class="container">
    <div class="Profile-Head">
<img src="assets/propic.png"/>
Aarti Patel
Id 427188EI

<div class="profileData">
    <div  class="first line"><ul><li>Status Fellowship</li>
<li>Company BridgeLabz</li>
<li>Mobile 9807654321</li>
<li>Email Id arti@gmail.com</li></ul></div>
    <div class="second"><ul><li>BL Start Date 2 March 2016</li>
<li>Company Start Date 4 June 2016</li>
<li>Company Leave Date 15 December 2016</li>
<li>Leaves taken 4</li></ul></div>
</div>






    </div>
</div>